body {
    margin: 0;
}

.App-header {
   display: flex;
   justify-content: center;
}

#header {
    background-color: rgb(61, 60, 60);
}

#headerText {
    display: flex;
    align-items: center;
    padding: 1rem;
    margin-bottom: 0;
    color: white;
}


.check {
    height: 30px;
    width: 60px;
    margin: 0 auto;
    display: inline-block;
    background-color: rgb(42, 72, 83);
    position: relative;
    border-radius:25px;
}

.checks {
    height: 30px;
    width: 60px;
    margin: 0 auto;
    display: inline-block;
    background-color: rgb(121, 116, 116);
    position: relative;
    border-radius:25px;
}

#checkbox {
    height: 100%;
    width: 100%;
    top:0px;
    left:0px;
    margin: 0;
    opacity: 0;
}

#checkSpan {
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: white;
    top:6px;
    left:8px;
    border-radius: 50%;
    transition: 0.4s;
}

#checkbox:checked+#checkSpan {
    transform: translateX(26px);
}

#clockImg {
  width: 50px;
  height: 40px;
  margin-right: 1rem;
}

#clockDiv {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(247, 244, 240);
    justify-content: center;
    padding: 1rem;
}

#timeDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    border: 10px solid rgb(88, 88, 88);
    border-radius: 50%;
    color: skyblue;
    margin:1rem;
    background-color: rgb(34, 33, 33);
}

#time {
    font-size: 3rem;
    margin:0
}

#date {
    font-size: 1rem;
    padding: 0;
    margin:0
}

#calenderImg {
    width: 50px;
    height: 40px;
    display: inline;
    align-self:flex-start;
    margin-left: 0.3rem;
}

#section {
    display: flex;
    align-items: center;
    margin: 1rem;
}

